<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-75">
<head>
    <meta charset="UTF-8">
    <title>Changing password</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>

<body class="h-75">

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">

            <form th:method="post" th:action="@{/recovery/{pageId}(pageId=${pageId})}" th:object="${recoveryDTO}">
                <div class="form-group">
                    <label class="form-label" for="password">Enter a new password:</label>
                    <input class="form-control" th:style="${#fields.hasErrors('password')} ? 'border-color: #ff0000' : 'border-color: #0d6efd'" type="password" placeholder=".g. Fgfdi$fisj88!!!a" name="password" th:field="*{password}" id="password"/>
                    <div th:style="'color: #ff0000'" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                    <br/>

                    <label class="form-label" for="confirmPassword">Confirm Password:</label>
                    <input class="form-control" th:style="*{confirmPassword != password} ? 'border-color: #ff0000' : 'border-color: #0d6efd'" type="password" placeholder=".g. Fgfdi$fisj88!!!a" name="password" th:field="*{confirmPassword}" id="confirmPassword"/>
                    <div th:style="'color: #ff0000'" th:text="*{confirmPassword == password} ? '' : 'Passwords do not match. Try again.'"></div>

                    <div class="form-check form-switch">
                        <label class="form-check-label" for="showPassword">Show password</label>
                        <input class="form-check-input" type="checkbox" name="showPassword" id="showPassword" onclick="showPassword()">
                        <br/>
                    </div>
                </div>
                <br/>
                <button class="btn btn-outline-primary btn-lg" type="submit">Change</button>
            </form>

        </div>
    </div>
</div>

<script>
    document.getElementById('showPassword').onclick = function() {
        if ( this.checked ) {
            document.getElementById('password').type = "text";
        } else {
            document.getElementById('password').type = "password";
        }

        if ( this.checked ) {
            document.getElementById('confirmPassword').type = "text";
        } else {
            document.getElementById('confirmPassword').type = "password";
        }
    };
</script>

</body>
</html>