<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="patch" th:action="@{/home/{id}/edit(id=${note.getId()})}" th:object="${note}">
    <label for="title">Enter new title:</label>
    <input type="text" th:field="*{title}" id="title">
    <br/>
    <label for="body">Enter new body:</label>
    <input type="text" th:field="*{body}" id="body">
    <br/>
    <input type="submit" value="Update">
</form>
</body>
</html>