<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-75">
<head>
    <meta charset="UTF-8">
    <title>Admin menu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
</head>
<body class="h-75">

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-6">
            <h1 th:text="${'Site works till ' + startTime}">fff</h1>
            <br/>

            <div class="form-group">
                <h4 th:text="'Test connection to database'">ddd</h4>
                <form th:method="patch" th:action="@{/admin}">
                    <input class="btn btn-outline-primary btn-lg" th:type="submit" th:value="Test">
                </form>
            </div>
            <br/>

            <h4>All users list</h4>
            <div class="alert alert-info mt-2" th:each="user : ${users}">
                <div th:text="${'id: ' + user.getId()}"></div>
                <div th:text="${'email: ' + user.getEmail()}"></div>
                <div th:text="${'login: ' + user.getLogin()}"></div>
                <div th:text="${'roleId: ' + user.getRoleId()}"></div>
                <div th:text="${'oauth2: ' + user.isOAuth2()}"></div>
            </div>
            <br/>

            <h5 th:style="${validConnection == true ? '' : 'color: #ff0000'}" th:text="${validConnection == true ? 'All is working correctly. Click to update' : 'ERROR!'}"></h5>
            <h6 th:style="'color: #ff0000'" th:text="${validConnection == true ? '' : log}"></h6>
        </div>
    </div>
</div>

</body>
</html>